*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg: #212132;
    --surface: #313142;
    --text: #D0D8Ef;
    --accent: #78A6DF;
    --red: #FD7E98;
    --shadow: 0 .5rem 1rem #111122AA;
}

body {
    padding: 5vh 0;
    width: 100%;
    color: var(--text);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    margin: 2.5vh 0;
}

button {
    cursor: pointer;
    padding: .5rem 1rem;
    border: 0 none transparent;
    border-radius: .3rem;
    background-color: var(--accent);

    transition: border-radius 0.3s;
}

button:hover {
    border-radius: .6rem;
}

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 5vh;
}

header > h1 {
    margin: 0 1rem;
    text-shadow: var(--shadow);
}

header > button {
    box-shadow: var(--shadow);
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: min(120ch, 90%);
}

#calendar > *:not(.calendar-offset) {
    background-color: var(--surface);
    margin: .25rem;
    padding: .5rem;
    border-radius: .3rem;
}

#calendar > *:nth-child(7n) {
    color: var(--red);
}

.calendar-header {
    cursor: default;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
}

.calendar-header > .day-name {
    display: none;
}

.calendar-day-name {
    display: none;
}

.calendar-day-fullscreen-toggle {
    font-size: .5rem;
    padding: .1rem .3rem;
}

.today {
    border: 2px solid var(--accent);
}

#calendar.week-view {
    display: flex;
    flex-direction: column;
}

#calendar.week-view .calendar-header {
    display: none;
}

#calendar.week-view .calendar-day-name {
    display: block;
}


/*
 * For PC
 */
@media screen and (min-width: 768px) {
    /* Long day name instead of short... */
    .calendar-header > .day-name {
        display: initial;
    }

    .calendar-header > .day-name-short {
        display: none;
    }
}

/*
 * QoL: Highlight all days of type in month
 */
.calendar-header:nth-child(1):hover,
.calendar-header:nth-child(1):hover ~ *:nth-child(7n + 1):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(1):hover,
.calendar-header:nth-child(1):hover ~ *:nth-child(7n + 1):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(2):hover,
.calendar-header:nth-child(2):hover ~ *:nth-child(7n + 2):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(3):hover,
.calendar-header:nth-child(3):hover ~ *:nth-child(7n + 3):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(4):hover,
.calendar-header:nth-child(4):hover ~ *:nth-child(7n + 4):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(5):hover,
.calendar-header:nth-child(5):hover ~ *:nth-child(7n + 5):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(6):hover,
.calendar-header:nth-child(6):hover ~ *:nth-child(7n + 6):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}

.calendar-header:nth-child(7):hover,
.calendar-header:nth-child(7):hover ~ *:nth-child(7n):not(.calendar-offset) {
    outline: 1px solid var(--accent);
}