*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg: #212132;
    --surface: #313142;
    --text: #D0D8Ef;
    --accent: #78A6DF;
    --red: #FD7E98;
    --shadow: 0 .5rem 1rem #111122AA;
}

body {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

button {
    font-size: .85rem;
    padding: .25rem .5rem;
    color: var(--bg);
    background-color: var(--accent);
    border: 0 none transparent;

    border-radius: .3rem;
    padding: 1rem;
    border: 0 none transparent;
    cursor: pointer;
    color: var(--bg);
    background-color: var(--accent);
    transition: border-radius 0.3s;
}

button:hover {
    border-radius: 1rem;
}

header {
    display: flex;
    align-items: center;
    top: 2rem;
    position: sticky;
}

header > h1 {
    font-size: 1.5rem;
}

header > * {
    width: max-content;
    padding: .5rem 1.5rem;
    margin: .75rem;
    border: 1px solid var(--accent);
    background-color: var(--bg);
    border-radius: .5rem;
    box-shadow: var(--shadow);
}

@media screen and (min-width: 768px) {
    header > h1 {
        font-size: 2rem;
    }

    header > * {
        padding: 1rem 3rem;
    }
}

header > button {
    color: var(--accent);
    padding: .75rem 1.5rem;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-direction: column;
    width: min(120ch, 90%);
    margin: 3vh auto 15vh auto;
}

#calendar > *:not(.calendar-offset) {
    margin: .75rem;
    background-color: var(--surface);
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: var(--shadow);
}

#calendar .calendar-day-name {
    display: none;
    grid-area: name;
}

#calendar > *:nth-child(7n) {
    color: var(--red);
}

.calendar-header {
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
}

.calendar-day {
    width: auto;
    margin: 0 5rem;
    aspect-ratio: 4 / 3;

    display: grid;
    grid-template-areas: 'date btn '
                         'info info';
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
}

.calendar-day.today {
    padding: calc(1rem - 2px);
    border: 2px solid var(--accent);
}

.calendar-day-date {
    font-size: 1.25rem;
    grid-area: date;
}

.calendar-day-fullscreen-toggle {
    grid-area: btn;
    font-size: .75rem;
    padding: .1rem .3rem;
    border: 0 none transparent;
    margin: 0 0 auto auto;
}

#calendar.week-view {
    display: flex;
}

#calendar.week-view > *:not(.calendar-day) {
    display: none;
}

#calendar.week-view > .calendar-day {
    aspect-ratio: unset;
    grid-template-areas: 'date name info btn';
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-rows: 1fr;
    place-items: center start;
}

#calendar.week-view .calendar-day-name {
    margin: auto 1rem;
}

#calendar.week-view .calendar-day-fullscreen-toggle {
    margin: auto 0 auto 1rem;
}

#calendar.week-view .calendar-day-name,
#calendar .calendar-day.fullscreen .calendar-day-name {
    display: block;
}

#calendar .calendar-day.fullscreen {
    padding: 2rem 3rem;
}

.calendar-day.fullscreen {
    width: 80vw;
    height: 80vmin;
    aspect-ratio: unset;
    position: fixed;
    bottom: 15vmin;
    right: 10vw;
    z-index: 2;

    grid-template-areas: 'date btn '
                         'name name'
                         'info info';
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
}

.calendar-day-fullscreen-toggle.close {
    background-color: var(--red);
}

.calendar-day.fullscreen .calendar-day-name {
    font-size: 2rem;
}

.calendar-day.fullscreen .calendar-day-date {
    font-size: 3rem;
}

#action-buttons {
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    display: flex;
    flex-direction: row-reverse;
}

#action-buttons > * {
    margin: .5rem;
    box-shadow: var(--shadow);
}

#settings {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    width: min(90vw, 60ch);
    height: 100vh;
    padding: 2rem;

    background-color: var(--surface);
    border: var(--accent) 2px solid;
    box-shadow: var(--shadow);

    transition: left 0.3s;
}

#settings.hidden {
    left: max(-90vw, -60ch);
}

#settings > h1 {
    padding: .25rem .5rem;
    border-bottom: 1px solid var(--text);
}

#settings > h2 {
    margin: 1rem 0 .5rem 0;
}

#close-settings {
    margin-top: auto;
    background-color: var(--red);
}

form {
    display: grid;
    grid-template-columns: max-content max-content;
    place-items: center end;
}

form > * {
    margin: .5rem 0;
}

form > *:nth-child(1n) {
    margin-right: 1rem;
}